/*
 *= require normal/bootstrap
 *= require normal/bootstrap-responsive
 *= require_tree .
 *= require_self
*/

body {
  font-family: "Open Sans", Calibri, Candara, Arial,
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, "メイリオ", sans-serif;
  //background-color: #FCEBB6;
  //background-color: #5E412F;
  background-color: #554236;
}

.container {
  //margin-top: -19px;
  margin-top: 15px;
}

.contents {
  background: #fff;
  //border-radius: 5px;
  //background-color: #F1EFA5;
  background-color: #FCF6E2;
  padding: 19px;
  margin: 0px -19px;
}

#top-nav {
  //background-color: #DBDAB5;
}

.navbar-inner {
  background-color: #5E412F;
  background-color: #F07818;
  //background-color: #F0A830;
}

.hero-unit {
  //background-color: #F9EFD2;
  margin: -20px -19px -19px -19px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #D3CE3D;
}


li {
  color: #444;
}

footer {
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
}
