.container
  .contents
    .row
      .span12
        .page-header
          %h2 献立表
          %ul
            - @daily_menus.each do |m|
              %li
                %h5= link_to l(m.date, format: :short), m
        = paginate @daily_menus
