/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_tree .
 *= require_self
*/


body {
}

.contents {
  background: #fff;
  border-radius: 5px;
}

li {
  color: #444;
}


footer {
  text-shadow: 0 1px 0 #fff;
  margin-top: 50px;
}
